@model JsonCMS.Models.JsonData
@using JsonCMS.Models.PageModels;

@{
    Layout = "~/Views/200Towns/_Layout.cshtml";
    var tiles = Model.pages.pages.Where(x => x.pageType != PageType.Home && x.exampleImage != null).OrderBy(y => Guid.NewGuid()).Take(17).ToList();
}

<div class="row homeImages" id="bodySection">
    <div class="col-md-3 leftCol nopadding">
        <ul>
            @foreach (var tile in tiles.Take(8)) { 
                <li><a href="@tile.friendlyUrl"><img src="/200towns/nails/thumb_4t375_@tile.exampleImage" title="@tile.displayName" alt="@tile.displayName" /></a></li>
            }
        </ul>
    </div>
    <div class="col-md-6 centerCol nopadding">
        <ul>
            @foreach (var tile in tiles.Skip(8).Take(1))
            {
                <li><a href="@tile.friendlyUrl"><img src="/200towns/nails/thumb_4t750_@tile.exampleImage" title="@tile.displayName" alt="@tile.displayName" /></a></li>
            }
        </ul>
    </div>
    <div class="col-md-3 rightCol nopadding">
        <ul>
            @foreach (var tile in tiles.Skip(9).Take(8))
            {
                <li><a href="@tile.friendlyUrl"><img src="/200towns/nails/thumb_4t375_@tile.exampleImage" title="@tile.displayName" alt="@tile.displayName" /></a></li>
            }
        </ul>
    </div>
</div>

@section Social {
    @Html.Partial("~/Views/200Towns/_Social.cshtml", Model.social)
}

@section Footer {
    @Html.Partial("~/Views/200Towns/_Footer.cshtml", Model.social)
}

@section Menu {
    @{
        var menuToUse = Model.menus.GetMenu("menu1", Model.thisPage.displayName);
        if (menuToUse != null)
        {
            @Html.Partial("~/Views/200Towns/_" + menuToUse.menuType + ".cshtml", menuToUse)
        }
    }
}

@section scripts {
    <script type="text/javascript">
        startscripts();
        jQuery(document).ready(function () {
            $().jetmenu({
                indicator: false
            });
        });

    </script>
}